doctype html

html(lang="eng")
  head 
     link(href='http://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css',type = "text/css", rel="stylesheet" )
  body 
  .container
    .card 
      .jumbotron
        .display1 This is the Main Blog pager

        


  footer 
